*{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  background: url(tupacBkgrd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background: black;
}

header{
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
}

img{
  height:200px;
  width: 200px;
}

.timeCount{
  font-size: 3em;
  text-align: center;
}

.centerThis{
  display: flex;
  justify-content: space-around;
}
